@import "../../style/mixins/mixins";

.clients-feedback {
  max-width: 1000px;
  margin: 120px auto 0 auto;
  padding: 0 12px;

  .desktop {
    display: flex;
    @include b('tablet') {
      display: none;
    }
  }

  .mobile {
    display: none;
    @include b('tablet') {
      display: flex;
      overflow-x: auto;
    }
  }

  .switchIcon {
    &_right, &-left {
      cursor: pointer;
      -ms-flex-align: center;
      align-items: center;
      width: 48px;
      min-width: 20px;
      background-color: transparent;
      border: none;
    }

    &_right {
      margin-left: 20px;
    }

    &_left {
      margin-right: 20px;
      background-color: transparent;
      border: none;
    }
  }

  &__title {
    background: linear-gradient(
                    87.05deg, #FFFFFF 51.97%, #171628 106.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    font-feature-settings: 'liga' off;

    @include b('tablet') {
      background: linear-gradient(87.05deg, #FFFFFF 51.97%, #171628 127.38%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__cards {
    width: 100%;
    margin-top: 34px;
    display: flex;
    justify-content: center;

    @include b('tablet') {
      justify-content: flex-start;
    }

    &_container {
      display: flex;
      justify-content: space-between;
    }

    &_item {
      max-width: 380px;
      width: 100%;
      background: #2C2C33;
      border-radius: 20px;
      padding: 14px 20px 39px 14px;
      margin: 0 1em 0 1em;

      @include b('tablet') {
       min-width: 300px;
      }

      &_desc {
        h2 {
          padding: 15px 0 10px 0;
          font-family: TT Commons, sans-serif;
          font-weight: bold;
          font-size: 22px;
          line-height: 25px;
        }

        h3 {
          font-family: TT Commons, sans-serif;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          opacity: 0.4;
        }
      }

      &_images {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}