@import "../../style/mixins/mixins";

.container {
  position: relative;
  z-index: 5;
  margin: -70px auto -180px;
  padding: 0 -15px;
  max-width: $mediaWidthDesktop;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-background-color);

  @include b(547) {
    margin-bottom: -200px;
  }

  @include b('mobile') {
    margin: -70px auto -180px;
  }

  @include b(340) {
    margin-bottom: -210px;
  }

  .logo {
    padding: 43px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    img {
      width: 220px;
    }

    .bg__1 {
      position: absolute;
      z-index: 2;
      top: -120px;
      right: 50px;

      @include b(750) {
        display: none;
      }
    }
  }

  .content {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .bg__img {
    position: absolute;
    right: -150px;
    top: 2400px;

    @include b(1360) {
      display: none;
    }
  }

  h2 {
    margin-top: 40px;
    font-family: 'TTNorms', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    @include text-gradient(linear-gradient(to right, #FFFFFF 60%, #171628 100%));

    @include b(750) {
      margin-top: 20px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  .description {
    margin-top: 10px;
    font-size: 24px;
    line-height: 28px;
    opacity: 0.85;

    @include b(750) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  h3 {
    margin-top: 20px;
    font-family: 'TTNorms', sans-serif;
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;

    @include b(750) {
      margin-top: 15px;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .orange {
    color: #DC2C2C;
  }

  .paragraph {
    margin-top: 10px;
    font-family: 'TTCommons', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    opacity: 0.85;

    @include b(750) {
      font-size: 16px;
      line-height: 22px;
    }

    a {
      color: #DC2C2C;
    }

    &__date {
      margin-top: 20px;
      font-family: 'TTCommons', sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      opacity: 0.5;

      @include b(750) {
        font-size: 18px;
        line-height: 18px;
      }
    }
  }
}
