include ./block/index

main
    .container
        +about
        +why-us
        +areas-of-expertise
        +what-we-do-best
        +case-studies
        +team
        +our-partners
        +contact-us
        a(href="#" title="Go to top" id='button-to-the-top').icon.icon-arrow-top.arrow-top

    script.
        mybutton = document.getElementById("button-to-the-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "flex";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }