@import "../../style/mixins/text";
@import "../../style/mixins/media";
@import "../../style/index";

.case-studies {
  margin-top: 120px;

  @include b('mobile') {
    margin-top: 60px;
  }

  .tablinks {
    margin-top: 70px;

    @include b('mobile') {
      margin-top: 30px;
    }
  }

  .scroll {
    @include b('mobile') {
      overflow-x: auto;
    }
  }

  &__content {
    margin-top: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;

    @include b('mobile') {
      margin-top: 10px;
      padding: 20px;
      height: 175px;
      display: inline-flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap;
      overflow-y: hidden;
      overflow-x: scroll;
      overflow-scrolling: initial;
    }

    .content-item {
      all: unset;
      cursor: pointer;
      transition: 0.4s ease;

      &__img {
        width: 85px;
        height: 85px;
        transition: 0.4s ease;
      }

      &__name {
        margin-top: 22px;
        width: 85px;
        text-align: center;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        font-feature-settings: 'liga' off;
        font-weight: normal;
        opacity: 0.5;
        transition: 0.4s ease;
      }
    }

    .active {
      .content-item__img {
        transform: scale(1.4);
        box-shadow: 0 21px 30px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
      }

      .content-item__name {
        transform: translateY(10px);
        font-weight: 700;
        font-size: 15px;
        line-height: 17px;
        opacity: 1;
      }
    }
  }

  &__content .content-item:hover {
    .content-item__img {
      transform: scale(1.42);
      box-shadow: 0 21px 30px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
    }

    .content-item__name {
      transform: translateY(10px);
      font-weight: 700;
      font-size: 15px;
      line-height: 17px;
      opacity: 1;
    }
  }

  &__dropdown {
    background: #25232a;
    border-radius: 8px;

    @include b('mobile') {
      border: none;
      background: transparent;
    }
  }
}

.dropdown {
  margin-top: 30px;
  padding: 30px 50px 50px 50px;
  display: flex;
  flex-direction: column;

  @include b('mobile') {
    margin: 0;
    padding: 0;

    &__img {
      padding: 0;
      justify-content: center;
      align-items: center;
      overflow-x: auto;
    }

    &__insights {
      flex-direction: column;
    }
  }

  &__title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    @include b('mobile') {
      display: none;
    }
  }

  &__img {
    margin-top: 30px;
    width: 100%;
    max-width: 891px;
    min-height: 588px;
    display: flex;
    justify-content: space-between;

    @include b('mobile') {
      margin: -80px 0;
    }
  }

  .noscroll {
    @include b('mobile') {
      display: none;
    }
  }

  .scroll {
    display: none;

    @include b('mobile') {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 20px;
      overflow-x: scroll;
      max-height: 386px;

      &__dev {
        width: 179px;
      }

      &__contract {
        width: 570px;
        border-radius: 8px;
      }
    }
  }

  .switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include b('mobile') {
      display: none;
    }

    &Image {
      width: 80%;
      height: 90%;
      border-radius: 15px;

      @include b('mobile') {
        width: 70%;
      }
    }

    &Icon {
      cursor: pointer;
      margin: 0 20px;
      align-items: center;
      width: 44px;
      min-width: 20px;
      background-color: transparent;
      border: none;
    }
  }

  &__insights {
    margin-top: 20px;
    width: 100%;
    max-width: 891px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include b('mobile') {
      margin-top: -20px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &-insight {
      display: flex;
      flex-direction: column;
      flex: 1;

      @include b('mobile') {
        margin-top: 10px;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .insight__title {
        @include text-gradient(linear-gradient(87.05deg, #FFFFFF 54.97%, #171628 152.38%));

        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
      }

      .gray-list {
        margin-top: 12px;

        @include b('mobile') {
          margin-top: 5px;
        }
      }
    }
  }
}

.insight-stacks {
  align-items: flex-end;

  @include b('mobile') {
    align-items: flex-start;

    .gray-list {
      justify-content: flex-start;
    }
  }

  .gray-list {
    justify-content: flex-end;

    @include b('mobile') {
      justify-content: flex-start;
    }

    &__item {
      margin-right: 0;
      margin-left: 6px;

      @include b('mobile') {
        margin-left: 0;
        margin-right: 5px;
      }
    }
  }
}