@import "../../style/mixins/text";
@import "../../style/mixins/media";
@import "../../style/index";

.what-we-do-best {
  margin-top: 100px;

  .primary-header {
    @include text-gradient(linear-gradient(87.05deg, #FFFFFF 58.97%, #171628 84.38%));
  }

  @include b('mobile') {
    margin-top: 60px;
  }

  .block-header {
    .secondary-header {
      margin-top: 30px;
    }
  }

  .scroll {
    @include b('tablet') {
      overflow-x: auto;
    }
  }

  &__cards {
    margin: 30px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    justify-items: center;

    @include b(1025) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include b('tablet') {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include b(694) {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
  }

  &__card {
    width: 100%;
    max-width: 310px;
    height: 200px;
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-feature-settings: 'liga' off;
    border: 3px solid #2e2e35;
    border-radius: 20px;

    @include b(694) {
      padding: 20px 10px;
      width: 200px;
      height: 130px;
      margin-right: 10px;
      justify-content: space-between;
    }

    .icon {
      width: fit-content;
      align-self: center;

      @include b(694) {
        width: auto;
        height: 30px;
      }
    }
  }
}
