@import "../../style/mixins/media";
@import "../../style/index";

.our-partners {
  position: relative;
  margin-top: 150px;
  scroll-margin-top: 120px;

  .primary-header {
    @include text-gradient(linear-gradient(87.05deg, #FFFFFF 51.97%, #171628 82.38%));

    @include b('tablet') {
      @include text-gradient(linear-gradient(to right, #FFFFFF 51.97%, #171628 125.38%));
    }
  }

  @include b('mobile') {
    margin-top: 60px;
  }

  &__partners {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    justify-items: center;

    @include b('tablet') {
      margin-top: 40px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include b('mobile') {
      margin-top: 40px;
      grid-template-columns: repeat(2, 1fr);
    }

    .img-container {
      display: grid;
      justify-self: center;
      align-self: center;
      filter: contrast(0);
      overflow: hidden;
      transition: 0.4s ease;

      &:hover {
        filter: contrast(100%);
      }
    }
  }

  .achievements {
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @include b('tablet') {
      margin-top: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 30px;
      align-items: center;
    }

    img {
      object-fit: none;
    }

    .achieve {
      @include b('tablet') {
        display: flex;
        align-self: center;
        justify-self: center;
      }
    }
  }
}
