@import "../../style/mixins/mixins";
@import "../../style/common/buttons";
@import "../../style/index";

.create-nft {
  width: 100%;
  padding-top: 200px;
  position: relative;

  &__block {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 213px;

    &_img {
      width: 400px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      position: relative;

      &_bg {
        position: absolute;
        background: #FF3014;
        filter: blur(111px);
        width: 300px;
        height: 250px;
        top: 70px;
      }

      &_cryptopunk {
        z-index: 1;
      }

    }

    h2 {
      font-family: TT Norms, sans-serif;
      font-style: normal;
      z-index: 1;
      font-weight: 800;
      font-size: 60px;
      line-height: 60px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      max-width: 850px;
      margin: 0 auto;
      padding-top: 16px;

      span {
        color: #DC2C2C;
      }
    }

    &_button {
      background: #000000;
      border-radius: 120px;
      z-index: 1;
      max-width: 290px;
      height: 128px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 12px;
      padding: 39px;

      a {
        width: 212px;
        height: 49px;
      }
    }
  }

  &__bg {
    position: absolute;
    left: 250px;
    top: 467px;
    z-index: -1;

    img {
      object-fit: none;
      height: 739px;
    }

    @include b('1500') {
      left: auto;
    }
  }

  &__block-2 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 101px;

    &_img {
      position: relative;

      &_title {
        position: absolute;
        left: 238px;
        top: 96px;
      }
    }

    &_desc {
      margin-top: -265px;
      h2 {
        font-family: TT Norms, sans-serif;
        font-style: normal;
        font-weight: 800;
        padding-bottom: 40px;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        max-width: 950px;
        margin: 0 auto;

        span {
          color: #DC2C2C;
        }
      }

      h3 {
        font-family: TT Commons, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
      }
    }
  }
}

