@import "../../style/mixins/mixins";
@import "../../style/common/buttons";
@import "../../style/index";

.nft-generator {
  max-width: 1100px;
  margin: 0 auto;

  &__title {
    font-family: TT Norms, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 47px;
    max-width: 1000px;
    margin: 0 auto;
  }

  a {
    width: 192px;
    height: 49px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

    font-family: TT Norms, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15.5378px;
    line-height: 18px;
    font-feature-settings: 'kern' off, 'liga' off;

    color: #FFFFFF;
  }

  &__container {
    display: block;
    padding-top: 49px;

    &_titles {
      display: flex;
      justify-content: flex-end;
      &_item {
        width: 264px;
        height: 45px;
        background: blue;
        display: flex;
        background: linear-gradient(
                        30.15deg, #191111 14.13%, #272525 64.22%);
        border-radius: 12px;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
          margin-right: 14px;
        }
      }
    }

    &_cards {
      display: flex;
      margin-top: 15px;

      &_row {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-left: 16px;
        flex-wrap: wrap;

        &_item {
          border: 2px solid #727272;
          padding: 16px 0 0 15px;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
          border-radius: 12px;

          h2 {
            font-family: TT Commons, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 30px;
            padding-right: 2em;
          }
        }
        &_item:not(:nth-child(3n+3)) {
          margin-right: 14px;
        }

        @include b(1100) {
          &_item:not(:nth-child(3n+3)) {
            margin-right: 0;
          }
        }
      }

      &_column {
        &_item {
          align-items: center;
          justify-content: center;
          background: linear-gradient(30.15deg, #191111 14.13%, #272525 64.22%);
          border-radius: 12px;
        }
      }

      &_column, &_row {
        &_item {
          width: 264px;
          height: 140px;
          display: flex;

          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
