@import "../../style/mixins/mixins";
@import "../../style/common/buttons";
@import "../../style/index";

.nft-generator {
  max-width: 1100px;
  margin: 0 auto;

  &__title {
    font-family: TTNorms, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 47px;
    max-width: 1000px;
    margin: 0 auto;

    @include b('tablet') {
      font-size: 40px;
      line-height: 40px;
      padding-top: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  a {
    width: 192px;
    height: 49px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

    font-family: TTNorms, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15.5378px;
    line-height: 18px;
    font-feature-settings: 'kern' off, 'liga' off;
  }

  &__container {
    display: block;
    padding-top: 49px;

    @include b('tablet') {
      max-width: 100%;
      overflow-x: auto;
    }

    &_titles {
      display: flex;
      justify-content: flex-end;
      width: 1100px;
      &_item {
        width: 264px;
        height: 45px;
        background: blue;
        display: flex;
        background: linear-gradient(
                        30.15deg, #191111 14.13%, #272525 64.22%);
        border-radius: 12px;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
          margin-right: 14px;
        }
      }
    }

    &_cards {
      display: flex;
      margin-top: 15px;

      &_row {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 15px 16px;
        margin-left: 16px;
        flex-wrap: wrap;

        &_item {
          border: 2px solid #727272;
          padding: 16px 0 0 15px;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
          border-radius: 12px;

          h2 {
            font-family: TTCommons, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 30px;
            padding-right: 2em;
          }
        }
      }

      &_column {
        &_item {
          align-items: center;
          justify-content: center;
          background: linear-gradient(30.15deg, #191111 14.13%, #272525 64.22%);
          border-radius: 12px;
          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }

      &_column, &_row {
        &_item {
          width: 264px;
          height: 140px;
          display: flex;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    padding-top: 152px;
    align-items: center;

    @include b('tablet') {
      flex-direction: column;
      justify-content: center;
      padding-top: 60px;
    }

    .img_desktop {
      display: block;

      @include b('600') {
        display: none;
      }
    }

    .img_mobile {
      display: none;

      @include b('600') {
        display: block;
      }
    }

    &_block {
      @include b('tablet') {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      &_title {
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #DC2C2C;
        padding-bottom: 22px;
        max-width: 369px;

        @include b('tablet') {
          font-size: 14px;
          line-height: 18px;
          text-align: center;
          letter-spacing: 0.2em;
          padding-top: 40px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      &_subtitle {
        font-family: TTNorms, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 60px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-bottom: 16px;

        @include b('tablet') {
          font-size: 32px;
          line-height: 32px;
          text-align: center;
          padding: 0 20px;
        }

        span {
          color: #DC2C2C;
        }
      }

      &_desc {
        font-family: TTCommons, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        opacity: 0.5;
        max-width: 436px;

        @include b('tablet') {
          line-height: 25px;
          text-align: center;
          padding:20px 20px 0px 20px;
        }
      }
    }
  }
}
