@import "../../style/mixins/mixins";
@import "../../style/common/buttons";
@import "../../style/index";

.about {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 48px;

  &__title-img {
    z-index: 1;
    max-width: 458px;
    object-fit: none;
  }

  &__desc-img {
    z-index: 1;
    position: absolute;
    max-width: 703px;
    object-fit: none;
    top: 193px;
  }

  &__art-img {
    z-index: 1;
    padding-top: 117px;
  }

  h2 {
    z-index: 1;
    margin-top: 40px;
    font-family: 'TTCommons', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
  }

  &__bg {
    width: 100%;
    bottom: 0;
    position: absolute;
    filter: blur(15px);
  }
}