@import "../../style/mixins/image";
@import "../../style/mixins/media";
@import "../../style/index";

@import "../../style/mixins/text";

.icon {
  &::before {
    background-color: #fff;
  }

  &-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 81px;
    height: 81px;
  }
}

.areas-of-expertise {
  position: relative;
  margin-top: 90px;

  @include b('mobile') {
    margin-top: 60px;
  }

  .background-img {
    top: 756px;
    left: -10px;
    z-index: -1;

    @include b('mobile') {
      display: none;
    }
  }

  &__cards {
    margin-top: 82px;

    @include b('tablet') {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @include b('mobile') {
      margin-top: 50px;
      overflow-x: auto;
    }
    
    &__scroll {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      align-items: center;
      justify-items: center;

      @include b(1060) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include b('tablet') {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: scroll;
      }
    }
  }

  &__card {
    width: 320px;
    height: 300px;
    padding: 20px 30px;
    background: #2c2c33;
    border-radius: 20px;
    transition: 0.4s ease;

    @include b('tablet') {
      margin: 5px;
      min-width: 280px;
      height: 310px;
    }

    &-description {
      margin-top: 16px;
      font-family: "TT Commons", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #fff;
      opacity: 0.4;
    }

    &:hover {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #DC2C2C;

      .icon {
        opacity: 0.8;
      }

      .areas-of-expertise__card-description {
        opacity: 1;
      }
    }
  }

  &__card-name {
    margin-top: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    text-transform: uppercase;
  }
}
