@import "../mixins/media";

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #1d1b21;
  transition: 0.5s ease;

  @include b('mobile') {
    position: relative;
  }
}

.main-nav {
  margin: 30px auto;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  //border-bottom: 1px solid rgb(52,50,55);
  .logo {
    width: 100%;
    max-width: 220px;
  }

  .nav-pages {
    margin-left: auto;
    width: 561px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: bold;

    &__link {
      font-size: 16px;
      line-height: 19px;

      &:first-child {
        font-feature-settings: 'liga' off;
      }

      &:hover {
        &:nth-child(-n+4) {
          color: #d4d2d2;
        }
      }
    }

    &__contact-button {
      width: 136px;
      height: 43px;
      font-size: 13px;
      line-height: 15px;
      border: 1px solid #fff;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        border-color: #d23e10;
      }
    }

    @include b('mobile') {
      display: none;
    }
  }

  @include b('mobile') {
    .topnav {
      display: flex;
      flex-direction: column;
    }
  }
}

.burger {
  display: none;
  cursor: pointer;

  &_1,
  &_2,
  &_3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
  }

  &-change {
    /* Rotate first bar */
    .burger_1 {
      -webkit-transform: rotate(-45deg) translate(1px, 15px);
      transform: rotate(-45deg) translate(1px, 15px);
    }

    /* Fade out the second bar */
    .burger_2 {
      opacity: 0;
    }

    /* Rotate last bar */
    .burger_3 {
      -webkit-transform: rotate(45deg) translate(1px, -15px);
      transform: rotate(45deg) translate(1px, -15px);
    }
  }

  @include b('mobile') {
    display: inline-block;
  }
}
