@import "../mixins/media";

$scheme-icons-mask: ((), ('burger', 'header-burger', 'svg'), ('burger-close', 'header-burger-close', 'svg'));

@include theme-mask($scheme-icons-mask);

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #1d1b21;
  transition: 0.5s ease;

  @include b('mobile') {
    position: relative;
  }
}

.main-nav {
  margin: 30px auto;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .icon {
      background-color: var(--body-background-color);
      transition: 0.4s ease;

      &-burger {
        @include before-img(block, 34px, 16px, r) {
          background-size: cover;
        }
      }

      &-burger-close {
        @include before-img(block, 17px, 17px, r) {
          background-size: cover;
        }
      }

      &:focus {
        outline: 0 none;
      }
    }
  }

  .logo {
    width: 100%;
    max-width: 220px;
  }

  .nav-pages {
    margin-left: auto;
    width: 100%;
    max-width: 561px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: bold;

    &__link {
      font-size: 16px;
      line-height: 19px;

      &:first-child {
        font-feature-settings: 'liga' off;
      }

      &:hover {
        &:nth-child(-n+4) {
          color: #d4d2d2;

          @include b('mobile') {
            color: #d23e10;

            &::before {
              position: absolute;
              top: 0;
              left: -5px;
              content: '';
              display: inline-block;
              width: 5px;
              height: 48px;
              background-color: #d23e10;
            }
          }
        }
      }
    }

    &__contact-button {
      width: 136px;
      height: 43px;
      font-size: 13px;
      line-height: 15px;
      border: 1px solid #fff;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        border-color: #d23e10;
      }
    }

    @include b('mobile') {
      display: none;
    }
  }

  @include b('mobile') {
    flex-direction: column;

    .topnav {
      margin-top: 65px;
      margin-left: 0;
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .nav-pages {
      &__link {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 36px;
        height: 48px;
      }

      &__contact-button {
        display: none;
      }
    }
  }
}

.burger {
  display: none;
  cursor: pointer;

  @include b('mobile') {
    display: inline-block;
  }
}
