@import "../../style/mixins/media";
@import "../../style/mixins/image";
@import "../../style/index";

.footer {
  position: relative;
  margin-top: 121px;

  @include b('mobile') {
    margin-top: 60px;
  }

  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
      display: flex;
      flex-direction: row;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 12.5px;
      margin-right: 12.5px;
      cursor: pointer;
      width: 44px;
      height: 44px;
      border: 1px solid #d23e10;
      border-radius: 50%;
      transition: 0.4s ease;

      &:hover {
        background-color: #d23e10;
      }

      .icon {
        &-tg {
          @include before-img(block, 20px, 18px, r) {
            background-size: cover;
          }
        }

        &-fb {
          @include before-img(block, 8px, 18px, r) {
            background-size: cover;
          }
        }

        &-in {
          @include before-img(block, 16px, 16px, r) {
            background-size: cover;
          }
        }

        &-mail {
          @include before-img(block, 24px, 18px, r) {
            background-size: cover;
          }
        }
      }
    }
  }

  &__copyrights {
    margin: 35px auto;
    font-family: 'TT Commons', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    opacity: 0.5;
  }
}
