@import "../../style/mixins/media";
@import "../../style/mixins/image";
@import "../../style/index";

.footer {
  position: relative;
  margin-top: 81px;

  @include b('mobile') {
    margin-top: 20px;
  }

  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
      display: flex;
      flex-direction: row;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 12.5px;
      margin-right: 12.5px;
      cursor: pointer;
      width: 44px;
      height: 44px;
      border: 1px solid #d23e10;
      border-radius: 50%;
      transition: 0.4s ease;

      &:hover {
        background-color: #d23e10;
      }

      .icon {
        &-tw {
          padding-top: 4px;
        }

        &-tg {
          padding-top: 4px;
          padding-right: 2px;
        }

        &-fb {
          padding-top: 4px;
        }

        &-in {
          padding-top: 4px;
        }

        &-mail {
          padding-top: 4px;
        }
      }
    }
  }

  .bottom {
    margin: 35px auto;
    display: flex;
    justify-content: space-around;
    font-family: 'TT Commons', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    opacity: 0.5;

    a:hover {
      color: #d23e10;
    }

    @include b(750) {
      margin: 35px 50px 60px;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;

      a {
        margin-bottom: 10px;
      }

      &__copyright {
        text-align: center;
      }
    }
  }
}
