@import "../../mixins/text";
@import "../../mixins/image";
@import "../../mixins/media";

$scheme-icons-mask: ((), ('arrow-right', 'arrow-right', 'svg'));

@include theme-mask($scheme-icons-mask);

.about {
  position: relative;
  margin-top: 120px;
  display: flex;
  flex-direction: column;

  .background-img-first {
    top: -20px;
    left: 541px;
    z-index: 1;
  }

  .background-img-second {
    top: 19px;
    left: 674px;
    z-index: 0;
  }

  .background-img-third {
    top: 143px;
    left: 464px;
    z-index: -1;
  }

  &__header {
    max-width: 755px;
    margin: 0;

    @include text-gradient(linear-gradient(86.23deg, #FFFFFF 54.52%, #171628 83.07%));

    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    font-style: normal;
    font-weight: 800;
    font-size: 85px;
    line-height: 85px;

    @include b('mobile') {
      font-size: 45px;
      line-height: 45px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include b('mobile') {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__description {
    max-width: 445px;
    margin: 57px 0 0 0;
    font-family: "TT Commons", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    opacity: 0.85;
  }

  &__buttons {
    margin: 30px 0 0 0;
    max-width: 360px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 18px;
    font-feature-settings: 'kern' off, 'liga' off;

    &-call {
      width: 144px;
      height: 50px;

      &:hover {
        background-color: #2a2730;
      }
    }

    &-contact {
      width: 195px;
      height: 50px;
      display: flex;
      justify-content: space-evenly;

      &:hover {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #d23e10;
        box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
      }
    }
  }

  &__achievements {
    margin-top: 124px;
    width: 353px;
    height: 100%;

    @include b('mobile') {
      margin: 124px auto 0 auto;
    }
  }
}

.icon {
  &-arrow-right {
    @include before-img(block, 24px, 13px, r) {
      background-size: cover;
    }
  }
}
