<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rock’n’Bock - Blockchain Development</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description"
        content="Blockchain implementation. We are engaged in custom development and implementation of software based on blockchain technologies for business and startups."/>
  <meta name="keywords" content="blockchain, develop, rocknblock, crypto, cryptocurrency"/>
  <meta content="index, nofollow" name="robots"/>
  <meta property="og:url" content="https://rocknblock.io/"/>
  <meta property="og:image" content="https://rocknblock.io/img/share.png"/>
  <meta property="og:title" content="Rock`n`Block Website"/>
  <meta property="og:description"
        content="Blockchain implementation. We are engaged in custom development and implementation of software based on blockchain technologies for business and startups."/>
  <meta name="twitter:creator" content="@rocknblock"/>
  <meta name="twitter:site" content="https://rocknblock.io/"/>
  <meta name="twitter:url" content="https://rocknblock.io/"/>
  <meta name="twitter:image" content="https://rocknblock.io/img/share.png"/>
  <meta name="twitter:title" content="Rock`n`Block Website"/>
  <meta name="twitter:description"
        content="Blockchain implementation. We are engaged in custom development and implementation of software based on blockchain technologies for business and startups."/>
  <link rel="apple-touch-icon" href="./assets/favicons/apple-touch-icon-180x180.png">
  <% preact.headEnd %>
</head>
<body>
<% preact.bodyEnd %>
<!-- Start of LiveChat (www.livechatinc.com) code -->
<script>
  window.__lc = window.__lc || {};
  window.__lc.license = 9683030;
  ;(function (n, t, c) {
    const e = {
      _q: [], _h: null, _v: "2.0", on: function () {
        i(["on", c.call(arguments)])
      }, once: function () {
        i(["once", c.call(arguments)])
      }, off: function () {
        i(["off", c.call(arguments)])
      }, get: function () {
        if (!e._h) throw new Error("[LiveChatWidget] You can't use getters before load.");
        return i(["get", c.call(arguments)])
      }, call: function () {
        i(["call", c.call(arguments)])
      }, init: function () {
        const n = t.createElement("script");
        n.async = !0, n.type = "text/javascript", n.src = "https://cdn.livechatinc.com/tracking.js", t.head.appendChild(n)
      }
    };

    function i(n) {
      return e._h ? e._h.apply(null, n) : e._q.push(n)
    }

    !n.__lc.asyncInit && e.init(), n.LiveChatWidget = n.LiveChatWidget || e
  }(window, document, [].slice))
</script>
<noscript>
  <a href="https://www.livechatinc.com/chat-with/9683030/" rel="nofollow">Chat with us</a>, powered by
  <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a>
</noscript>
<!-- End of LiveChat code -->
</body>
</html>
