@import "../../../style/mixins/mixins";

.block {
  .title {
    margin: auto;
    width: 100%;
    font-family: TTNorms;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;

    @include b('mobile') {
      font-size: 34px;
      line-height: 60px;
    }
  }

  .slideProfile {
    width: 520px;
    height: 400px;
    margin-left: 30px;

    @include b('mobile') {
      width: 331px;
      height: 250px;
      margin-left: 15px;
    }
  }

}