@import "../../style/mixins/mixins";

.content{
  padding-bottom: 15px;

  @include b(547) {
    padding-bottom: 40px;
  }

  .banner {
    background-image: url("../../assets/img/banner17_20/background.svg");
    background-size: cover;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 225px;
    margin: auto;
    padding-left: 30px;
    padding-right: 35px;
    max-width: 1000px;
    margin-top: 40px;

    .bannerImgInfo {
      width: 210px;
      height: 190px;

      @include b(547) {
        width: 140px;
        height: 123px;
      }

      @include b(320) {
        width: 110px;
        height: 95px;
      }
    }

    .bannerImgDate {
      @include b(547) {
        width: 140px;
        height: 80px;
      }

      @include b(320) {
        width: 107px;
        height: 61px;
      }

      width: 214px;
      height: 122px;
    }
  }
}